<div class="products">
  <div class="products__header">
    <h1>My Store</h1>
  </div>
  <div class="products__filterBar">
    <div>
      <button mat-raised-button (click)="addNewProduct()" color="primary">+Add</button>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input #inputSearch type="search" matInput>
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Sort</mat-label>
        <mat-select [(value)]="sortValue">
          <mat-option value="name">Name</mat-option>
          <mat-option value="creationDate">Date</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="products__productForm">
    <app-product-creation [product]="selectedProduct" *ngIf="showEditor$ | async"></app-product-creation>
  </div>
  <div class="products__productsList">
    <app-product *ngFor="let product of products$ |sort:sortValue|async" [product]="product"
      (editProduct)="editProduct($event,product); false"></app-product>
  </div>
</div>
