.product {
  &__container {
    max-height: 100px;
    position: relative;
    border: solid 1px gainsboro;
    padding: 1rem 0;
    margin: 1rem 0;
    border-radius: 5px;
  }

  &__info {
    max-height: 100%;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 10fr 1fr 0.5fr;
    grid-template-areas: "img name price button";
    gap: 1rem;
    align-items: center;
    justify-items: start;
    cursor: pointer;

    img {
      grid-area: img;
      max-height: 100%;
      max-width: 100%;
      display: block;
      object-fit: contain;

    }

    .name {
      grid-area: name;

      span {
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: break-spaces;
      }
    }

    .price {
      grid-area: price;

      h2 {
        margin: 0;
      }
    }

    .del_button {
      grid-area: button;
    }
  }
}
