
<div class="product__container">
  <div class="product__info" >
    <img src="../../../assets/images/adidas.jpg" alt="shoes" (click)="editProduct.emit('edit')">
    <div class="name" (click)="editProduct.emit('edit')">
      <h3>{{product.name}}</h3>
      <span>{{product.description}}</span>
    </div>
    <button class="del_button" mat-icon-button (click)="editProduct.emit('delete')" aria-label="Delete icon button with a vertical three dot icon">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>
