<div class="product__container">
  <div class="product__info" (click)="editProduct.emit('edit')">
    <img src="../../../assets/images/adidas.jpg" alt="shoes">
    <div class="name">
      <h3>{{product.name | titlecase}}</h3>
      <span>{{product.description}}</span>
    </div>
    <div class="price">
      <h2>{{product.price | currency:'USD': 'symbol' : '1.0-0' }}</h2>
    </div>
    <button class="del_button" mat-icon-button (click)="editProduct.emit('delete'); $event.stopPropagation()"
      aria-label="Delete icon button with a vertical three dot icon">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>
